{{ template "header.tmpl" .}}
    <div class="container-fluid">
        <div class="header clearfix">
            <h3 class="text-muted"><a href="/">Tech Daily</a></h3>
        </div>
        <div class="row">
            {{ template "box_tags.tmpl" .}}
            <div class="col-xs-6 col-sm-6">
                <div class="row box-list box-detail">
                    <img src="{{.article.Image}}"  alt="{{.article.Title}}" class="article-img img-fluid"/>
                    <h1>{{.article.Title}}</h1>
                    <div class="content crayons-article__body text-styles spec__body">
                        {{.ContentArticle}}
                    </div>
                </div><!--/row-->
            </div><!--/.col-xs-12.col-sm-9-->
        </div>
    </div>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    });
</script>
{{ template "footer.tmpl" .}}