{{ template "header.tmpl" .}}
    <div class="container-fluid">
        <div class="header clearfix">
            <h3 class="text-muted"><a href="/">Tech Daily</a></h3>
        </div>
        <div class="row row-offcanvas row-offcanvas-right">
            {{ template "box_tags.tmpl" .}}
            <div class="col-xs-5 col-sm-5">
                <div class="row box-list">
                    <img src="{{.article.Image}}"  alt="{{.article.Title}}"/>
                    <h1>{{.article.Title}}</h1>
                    <div class="content crayons-article__body text-styles spec__body">
                        {{.ContentArticle}}
                    </div>
                </div><!--/row-->
            </div><!--/.col-xs-12.col-sm-9-->
        </div>
    </div>
{{ template "footer.tmpl" .}}