{{ template "header.tmpl" .}}
<div class="container-fluid">
    <div class="row">
        {{ template "box_tags.tmpl" .}}
        <div class="col-xs-12 col-sm-10">
            <div class="row box-detail">
                <div class="col-xs-12 col-sm-12">
                    <img src="{{.article.Image}}"  alt="{{.article.Title}}" class="article-img img-fluid"/>
                    <div class="article-content">
                        <h1>{{.article.Title}}</h1>
                        <div class="box-website">
                            {{if .article.Website.Image}}
                            <img src="{{.article.Website.Image}}" alt="{{.article.Website.Title}}" width="32"> -
                            {{end}}
                            <span> {{.article.CreatedAt}}</span>
                        </div>
                        <div class="article-tag article-tag-detail">
                            {{range .article.Tags}}
                            <a href="/t/{{.Slug}}" title="{{.Title}}" class="btn-sm btn btn-outline-{{ .ShowColor }}">#{{.Title}}</a>
                            {{end}}
                        </div>
                        <div class="content crayons-article__body text-styles spec__body">
                            {{.ContentArticle}}
                        </div>
                    </div>
                </div>
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->
    </div>
    <h2 style="margin-top: 20px">MORE ARTICLES</h2>
    <div class="row box-list box-list-other">
        {{range .articleOthers}}
        <div class="col-xs-12 col-ms-6 col-lg-2">
            <div class="box-list-other">
                <h2><a href="{{.Slug}}" title="{{.Title}}"{{if not .IsUpdateContent}} target="_blank" {{end}}>{{.Title}}</a></h2>
                <h3 class="box-website">
                    {{if .Website.Image}}
                    <a href="/sources/{{.Website.Slug}}"><img src="{{.Website.Image}}" alt="{{.Website.Title}}" width="32"></a> -
                    {{end}}
                    <span> {{.CreatedAt}}</span>
                </h3>
                <div class="article-tag">
                    {{range .Tags}}
                    <a href="/t/{{.Slug}}" title="{{.Title}}" class="btn-sm btn btn-outline-{{ .ShowColor }}">#{{.Title}}</a>
                    {{end}}
                </div>
                {{if .Image}}
                <a href="{{.Slug}}" title="{{.Title}}"{{if not .IsUpdateContent}} target="_blank" {{end}}>
                    <img class="img-rounded" alt="{{.Title}}" style="width: 100%;" src="{{.Image}}" data-holder-rendered="true">
                </a>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</div>
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((el) => {
            hljs.highlightElement(el);
        });
    });
</script>
{{ template "footer.tmpl" .}}