{{ define "box_tags.tmpl" }}
<div class="col-xs-2 col-sm-2 sidebar-offcanvas" id="sidebar">
    <div class="box-tags">
        {{range .tags}}
        <a href="/t/{{.Slug}}" class="badge badge-{{ .ShowColor }}">#{{.Title}}</a>
        {{end}}
    </div>
    <div>
        <a href="/tags">>> View All Tags</a>
    </div>
</div>
{{ end }}