{{ define "header.tmpl" }}
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{ .title }}</title>
        <meta name="description" content="{{ .description }}">
        <meta name="keywords" content="{{ .keywords }}">

        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://techdaily.info/" />
        <meta property="og:title" content="{{ .title }}" />
        <meta property="og:image" content="http://techdaily.info/images/image.webp">
        <meta property="og:description" content="{{ .description }}" />
        <meta property="og:site_name" content="The Best Developer News" />

        <meta name="twitter:site" content="The Best Developer News">
        <meta name="twitter:title" content="{{ .title }}">
        <meta name="twitter:description" content="{{ .description }}">
        <meta name="twitter:image:src" content="http://techdaily.info/images/image.webp">
        <meta name="twitter:card" content="summary_large_image">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="./css/styles.css" crossorigin="anonymous">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
        <![endif]-->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5W5LQPZG9E"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-5W5LQPZG9E');
        </script>
    </head>
    <body>
{{ end }}