{{ define "pagination.tmpl" }}
<div class="d-flex justify-content-center align-items-center" style="height:100px;">
    <nav aria-label="...">
        <ul class="pagination">
            {{ $currentPage := .pagination.Page }}
            {{ $lastPage := .pagination.TotalPages }}
            {{ $checkTest := .pagination.TotalPages }}
            {{ $checkShowPage := .pagination.ShowPage }}
            {{ $checkShowPage1 := .pagination.ShowPage1 }}
            {{ $checkShowPage2 := .pagination.ShowPage2 }}
            {{ $href := .pagination.ShowHref }}
            {{ range $page := .listPage }}
            {{if le $currentPage 3}}
            {{if le $page 4}}
            {{if eq $page $currentPage}}
            <li class="page-item active">
                <span class="page-link">{{$page}}</span>
            </li>
            {{else}}
            <li class="page-item">
                <a href="{{ $href }}?page={{$page}}" class="page-link">{{ $page }}</a>
            </li>
            {{end}}
            {{else if eq $page $lastPage}}
            <li class="page-item"><span class="page-link">...</span></li>
            <li class="page-item">
                <a href="{{ $href }}?page={{$page}}" class="page-link">{{ $page }}</a>
            </li>
            {{end}}
            {{else if $checkShowPage}}
            {{if eq $page 1}}
            <li class="page-item">
                <a href="{{ $href }}?page={{$page}}" class="page-link">{{ $page }}</a>
            </li>
            <li class="page-item"><span class="page-link">...</span></li>
            {{else if $checkShowPage1}}
            {{if eq $page $currentPage}}
            <li class="page-item">
                <span class="page-link">...</span>
            </li>
            {{else}}
            <li class="page-item">
                <a href="{{ $href }}?page={{$page}}" class="page-link">{{ $page }}</a>
            </li>
            {{end}}
            {{end}}
            {{else}}
            {{if eq $page 1}}
            <li class="page-item">
                <a href="{{ $href }}?page={{$page}}" class="page-link">{{ $page }}</a>
            </li>
            <li class="page-item"><span class="page-link">...</span></li>
            {{else if eq $page $lastPage}}
            <li class="page-item"><span class="page-link">...</span></li>
            <li class="page-item">
                <a href="{{ $href }}?page={{$page}}" class="page-link">{{ $page }}</a>
            </li>
            {{else}}
            {{if $checkShowPage2}}
            {{if eq $page $currentPage}}
            <li class="page-item active">
                <span class="page-link">{{$page}}</span>
            </li>
            {{else}}
            <li class="page-item">
                <a href="{{ $href }}?page={{$page}}" class="page-link">{{ $page }}</a>
            </li>
            {{end}}
            {{end}}
            {{end}}
            {{end}}
            {{end}}
        </ul>
    </nav>
</div>
{{ end }}