{{ template "header.tmpl" .}}

<div class="container-fluid bg-light">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-12 box-tags">
            {{range .tags}}
            <a href="/t/{{.Slug}}" title="{{.Title}}" class="btn-sm btn btn-{{ .ShowColor }}">#{{.Title}}</a>
            {{end}}
        </div><!--/.col-xs-12.col-sm-9-->
    </div>
</div>
{{ template "footer.tmpl" .}}